# NELAIA source files
# Until NELAIA is officially registered in GitHub Linguist,
# we mark .nela files to not be counted in language statistics
# (they would otherwise be detected as unknown or wrong language)
*.nela linguist-detectable=false
*.nela linguist-language=NELAIA
